
/API/.vs
/API/obj
/API/bin
.vscode
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/h4-projekt-gruppe-1-ckm/CopilotIndices/17.12.38.29086/CodeChunks.db
.vs/h4-projekt-gruppe-1-ckm/CopilotIndices/17.12.38.29086/SemanticSymbols.db
.vs/h4-projekt-gruppe-1-ckm/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
.vs/h4-projekt-gruppe-1-ckm/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
.vs/h4-projekt-gruppe-1-ckm/FileContentIndex/b71f8e84-4d64-405a-b37b-8dd91bf6c384.vsidx
.vs/h4-projekt-gruppe-1-ckm/v17/.wsuo
.vs/h4-projekt-gruppe-1-ckm/v17/Browse.VC.db
.vs/h4-projekt-gruppe-1-ckm/v17/.wsuo
.vs/h4-projekt-gruppe-1-ckm/v17/DocumentLayout.backup.json
.vs/h4-projekt-gruppe-1-ckm/v17/DocumentLayout.json
/.vs
