
/API/.vs
/API/obj
/API/bin
.vscode
.vs/CMakeWorkspaceSettings.json
.vs/h4-projekt-gruppe-1-ckm/FileContentIndex/22e363be-cb9f-401c-b169-d7d3d221585a.vsidx
.vs/h4-projekt-gruppe-1-ckm/v17/Browse.VC.db
.vs/ProjectSettings.json
/.vs
